@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll-left 25s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-52px);
  }
}

.animate-slide {
  animation: slideUp 0.6s ease-in-out;
}

@media (min-width: 768px) {
  @keyframes slideUp {
    to {
      transform: translateY(-60px);
    }
  }
}

@media (min-width: 1024px) {
  @keyframes slideUp {
    to {
      transform: translateY(-68px);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}